/**
 #ae2f40 红色
 #651c27 红色hover
 **/

* {
	padding: 0px;
	margin: 0px;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica;
	font-size: 12px;
	border: none;
	font-style: normal;
}
body {
	background-color:#ffffff;
}

a {
	font-size: normal;
	text-decoration: none;
}
a:hover {
	font-size: normal;
	text-decoration: none;
}
a:visited {
	font-size: normal;
	text-decoration: none;
}
#product{
	background-color:#eeeeee;
	height:900px;
	width:100%;
}

.netlink{
	color:#ffffff;
	font-size:14px;
	text-decoration: none;
}
.netlink:visited{
	color:#ffffff;
	font-size:14px;
	text-decoration: none;
}
.netlink:hover{
	color:#d2d2d2;
	font-size:14px;
	text-decoration: none;
}
#mediatable{
	color:#ffffff;
	font-size:14px;
}

.btn {
	float: left;
	color: #ffffff;
	overflow: hidden;
	text-align: center;
	background-color: #ae2f40;
}
.btn a {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 45px;
	padding-right: 45px;
	font-style: normal;
	font-weight: bold;
	display: block;
	float: left;
	color: #ffffff;
}
.linkbg {
	float: left;
	position: absolute;
	background-color: #ffffff;
	padding: 0px;
	margin-left: 4px;
	height: 0px;
	z-index: 0;
	/*width: 120px;
	 line-height:46px;*/
	color: #ae2f40;
}

.link {
	/*line-height: 46px;
	 width: 120px;*/
	text-align: center;
	color: #fff;
}
.btnlink {
	position: absolute;
	margin-top: 0px;
	z-index: 10000;
}
#topFrame {
	position: fixed;
	z-index: 100000;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
}
.contents {
	width: 1024px;
	margin: auto;
}
#navbox {
	float: right;
}
#navbox ul a {
	display: block;
	float: left;
	color: #FFFFFF;
	line-height: 60px;
	zoom: 1;
	width: 100px;
	text-align: center;
}
#navlist > a > li {
	margin-left: 15px;
	margin-right: 15px;
	list-style: none;
	text-align: center;
	margin: auto;
	height: 60px;
	width: 100px;
}
#navbg {
	position: absolute;
	background-color: #ae2f40;
	z-index: 100;
}
.active {
	background-color: #ae2f40;
}
#slider {
	background-color: #e2e2e2;
}

.text {
	margin-top: 50px;
	float: left;
	width: 400px;
}
.slidertitle {
	margin: 30px 0px 30px 0px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 25px;
}
.slidertext {
	color: #ffffff;
	margin: 30px 0px 30px 0px;
	font-size: 16px;
}
.sliderpic {
	width: 600px;
	float: right;
}

.item {
	position: absolute;
	margin-left: -1024px;
	z-index: -1000;
}

#probox {
	margin: 30px 0px 30px 0px;
	width: 100%;
	border: none;
}
.prologo {
	margin: 15px 0px 15px 0px;
	border: none;
	width: 25%;
	height:200px;
	vertical-align:middle;
	 
	text-align: center;
}
.prologo a{
	line-height: 200px;
}
.prologo a img{
	vertical-align:middle;
}

.prologo:hover{
	background-color:#dddddd;
}
.prolabel {
	width: 25%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0px 25px 0px;
}
.sectitle {

	color: #ae2f40;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px 0px 20px;
}
.sectitle span{
	display:block;
	font-size: 18px;
	width:75px;
	margin:auto;
	padding-bottom:5px;
	border-bottom:1px solid #ae2f40;
	
}

#custom_cases{
	background-image:url(../images/incbg.jpg);
	background-repeat:no-repeat;
	background-size:1920px 600px;
	background-position:center;
	overflow: hidden;
	width: 100%;
	height:600px;
	
}
#inc{
		margin-left:0px;
		margin-top:0px;
	
	
}
.inclogo img{
	opacity:0.5;
}
#toleft{
	position: absolute;
	margin-left:0px;
	margin-top:150px;
	padding:20px 20px 20px 20px;
	font-size:20px;
}
#toright{
	position: absolute;
	right:0px;
	margin-top:150px;
	padding:20px 20px 20px 20px;
	font-size:20px;
}
#works{
	display:none;
	position: absolute;
	margin-top:0px;
	
}
#media{
	background-color: #ae2f40;
	height:1000px;
	
}
#zhaopin{
	background-image:url(../images/qianlima.jpg);
	/*background-color:#e5e5e5;*/
	background-repeat:repeat-y;
	color:#ffffff;
	
	background-size:1920px 600px;
	background-position:center center;
	overflow: hidden;
	width: 100%;
	height:600px;
}

#category tr td{
	padding:10px 10px 10px 10px;
}

#contact{
	background-color:#333333;
	height:400px;
	color:#ffffff;
	
	
}

#qqkefu{
	position: fixed;
	top: 300px;
	right:-150px;
	background-color: #767676;
	height:50px;
	width: 200px;
	z-index:100000;
}
#telkefu{
	position: fixed;
	top: 360px;
	right:-150px;
	background-color: #767676;
	height:50px;
	width: 200px;
	z-index:100000;
}
/* servicesBox */
.servicesBox{width:1000px;height:270px;margin:0 auto;clear:both;line-height:18px;color:#999999;font-size:12px;}
.servicesBox .serBox{cursor:pointer;border:none;display:inline;width:198px;height:250px;float:left;overflow:hidden;background-color:none;position:relative;}
.servicesBox .serBoxOn{font-family:"微软雅黑";display:none;width:320px;height:270px;background:#8c2130;position:absolute;left:0px;top:0px;z-index:19;}
.servicesBox .serBox .pic1{width:110px;height:110px;text-align:center;position:absolute;top:22px;right:41px;z-index:99;}
.servicesBox .serBox .pic2{width:110px;height:110px;text-align:center;position:absolute;top:22px;left:-110px;z-index:99;}
.servicesBox .serBox .txt1{width:198px;height:100px;color:#e6e6e6;position:absolute;top:145px;left:0px;z-index:99;}
.servicesBox .serBox .txt2{width:198px;height:100px;color:#e6e6e6;position:absolute;top:145px;right:-240px;z-index:99;}
.servicesBox .serBox span.tit{font-size:16px;display:block;text-align:center;}
.servicesBox .serBox .txt1 .tit{color:#e6e6e6;line-height:30px;}
.servicesBox .serBox .txt2 .tit{color:#e6e6e6;line-height:30px;font-family:"微软雅黑";}
.servicesBox .serBox p{padding:0 10px;text-align:center;}
.a_jump p{
	color:#e6e6e6;
	text-decoration: none;
}
.learnmore{
	display:block;
	width:80px;
	margin:auto;
	margin-top:10px;
	/*margin-left:80px;*/
	border:solid 1px #ffffff;
	text-align:center;
	color:#e6e6e6;
	text-decoration: none;
	border-radius:5px 5px 5px 5px;
}
.learnmore:hover{
	background-color:#ae2f40;
}
.zhaopintext{
	text-align: center;
	
}
.zhaopiblogo{
	display: block;
	width: 160px;
	margin:auto;
	text-align: center;
}
.iconspan{
	width: 100%;
}

/*div{
 border: solid 1px red;
 }*/

