/*
Author: Joseph Howard
MORE INFO HERE!!
URL: http://www.pencilscoop.com/2013/12/150-free-animated-svg-icons/

<------------ IF THE SCREEN BLINKS ON HOVER IT'S BECAUSE IT'S LOADING AN EXTERNAL IMAGE - TRY THE LINK ABOVE------------------->
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*=============================================
[ Page Setup ]
==============================================*/
@import url(http://fonts.googleapis.com/css?family=Raleway:600);
header {
	width:100%;
	height:100px;
	font-family: 'Raleway', sans-serif;
	position:relative;
	text-align:center;
}
header .back {
color:#CCC;
font-size: 13px;
text-decoration:none;
}
header a:hover {
	color:#52be7f;
}
header .right {
	margin: 10px 20px 0 0px;
	float:right;
}
header .left {
	margin: 10px 0px 0 20px;
	float:left;
}
header h1 {
	color:#999;
	font-size:23px;
	padding-top: 30px;
}

#pageWrap {
    width: 100%;
    overflow: hidden;
}
.innerwrap {
    width: 100%;
    overflow: hidden;
    padding: 0px 0 50px;
}
.innerwrap.purple { background: #af7ac4 }
.innerwrap.blue { background: #246f91 }
.innerwrap.teal { background: #3aada6 }
.innerwrap.red { background: #ae2f40 }
.innerwrap.green { background: #52be7f }
.innerwrap.yellow { background: #f3cf3f }
.innerwrap.yellow .iconholder { max-width: 680px }
.iconholder {
    width: 100%;
    max-width: 656px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.iconholder h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 50px;
}

/*=============================================
[ Inactive Styles ]
==============================================*/
/*Genral*/
.flat-filled .icon > path {
    fill: #ae2f40;
    -moz-transform: translate(0px ,0px) scale(1,1);
    -webkit-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.flat-filled .icon > .lightning {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
.flat-filled .circle {
    fill: #fff;
    transform: translate(0px, 0px) scale(1,1);
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
}
/*Exceptions*/
#filled-user .collar_right {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
#filled-user .collar_left {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
#filled-lightning .bolt {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
#filled-lightning .highlight {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
#filled-mic .bars_right rect {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
}
#filled-coffee .top {
    fill: #ae2f40;
    -webkit-transform: translate(0px ,0px) scale(1,1);
    -moz-transform: translate(0px ,0px) scale(1,1);
    transform: translate(0px, 0px) scale(1,1);
    : ;
}
/*Specifics*/
#filled-browser .green { fill: #FFF }
#filled-browser .orange { fill: #FFF }
#filled-browser .red { fill: #FFF }
#filled-brush .brush_silver { fill: #FFF }
#filled-calander .number { fill: #FFF }
#filled-camera .lens_inner { fill: #FFF }
#filled-clock .seconds { fill: #FFF }
#filled-clock .middle { fill: #FFF }
#filled-clock .hour { fill: #FFF }
#filled-clock .minute { fill: #FFF }
#filled-coffee .middle { fill: #FFF }
#filled-diamond .middle { fill: #FFF }
#filled-diamond .top_3 { fill: #FFF }
#filled-disk .top { fill: #FFF }
#filled-disk .top_right { fill: #FFF }
#filled-disk .text { fill: #FFF }
#filled-email .paper { fill: #FFF }
#filled-home .hole { fill: #FFF }
#filled-location .inner { fill: #FFF }
#filled-lock .keyhole { fill: #FFF }
#filled-message .dots { fill: #FFF }
#filled-picture .sun { fill: #FFF }
#filled-picture .mountain { fill: #FFF }
#filled-mic .bars_left { fill: #FFF }
#filled-mic .bars_right rect { fill: #FFF }
#filled-paper .text { fill: #FFF }
#filled-paper .corner { fill: #FFF }
#filled-pencil .metal { fill: #FFF }
#filled-phone .screen { fill: #FFF }
#filled-phone .details { fill: #FFF }
#filled-robot .eyes { fill: #FFFFFF }
#filled-suitcase .buttons { fill: #FFF }
#filled-tag .dot { fill: #FFF }
#filled-thumbsdown .dot { fill: #FFFFFF }
#filled-thumbsup .dot { fill: #FFFFFF }
#filled-trash .details { fill: #FFF }
#filled-winner .text { fill: #FFFFFF }
/*=============================================
[ Hover Styles ]
==============================================*/
#filled-browser:hover .circle { fill: #B1EB5B }
#filled-browser:hover .screen { fill: #d6d6d6 }
#filled-browser:hover .base { fill: #b0b0b0 }
#filled-browser:hover .top { fill: #8F8F8F }
#filled-browser:hover .green { fill: #AEE42D }
#filled-browser:hover .orange { fill: #FFD02C }
#filled-browser:hover .red { fill: #E64545 }
#filled-brush:hover .brush_base { fill: #00A3C6 }
#filled-brush:hover .brush_highlight { fill: #43C1DC }
#filled-brush:hover .brush_silver { fill: #C8C8C8 }
#filled-brush:hover .brush_tip { fill: #917152 }
#filled-brush:hover .circle { fill: #F0A878 }
#filled-calander:hover .circle { fill: #F3CF3F }
#filled-calander:hover .base_top { fill: #5B3F89 }
#filled-calander:hover .left { fill: #848484 }
#filled-calander:hover .right { fill: #848484 }
#filled-calander:hover .number { fill: #fff }
#filled-calander:hover .base_bottom { fill: #644892 }
#filled-camera:hover  .circle { fill: #F39C12 }
#filled-camera:hover .base { fill: #E0DECD }
#filled-camera:hover .strip { fill: #3376D2 }
#filled-camera:hover .lens { fill: #CAC8B7 }
#filled-camera:hover .lens_inner { fill: #A6A495 }
#filled-camera:hover .flash { fill: #FFF }
#filled-camera:hover .red { fill: #D25133 }
#filled-camera:hover .button { fill: #A6A496 }
#filled-clock:hover .circle { fill: #02BD85 }
#filled-clock:hover .base { fill: #FF8933 }
#filled-clock:hover .face { fill: #FFF }
#filled-clock:hover .seconds { fill: #FF725F }
#filled-clock:hover .middle { fill: #808080 }
#filled-clock:hover .hour { fill: #808080 }
#filled-clock:hover .minute { fill: #808080 }
#filled-coffee:hover .circle { fill: #82D8B5 }
#filled-coffee:hover .base { fill: #8F6349 }
#filled-coffee:hover .middle { fill: #9C8679 }
#filled-coffee:hover .top { fill: #F1F1F1 }
#filled-diamond:hover .circle { fill: #02BD85 }
#filled-diamond:hover .middle { fill: #D87598 }
#filled-diamond:hover .top_3 { fill: #FFC8DB }
#filled-diamond:hover .top_2 { fill: #F2A0BD }
#filled-diamond:hover .top_1 { fill: #F2A0BD }
#filled-diamond:hover .top_left { fill: #D87598 }
#filled-diamond:hover .top_right { fill: #D87598 }
#filled-diamond:hover .right { fill: #C15179 }
#filled-diamond:hover .left { fill: #FFC8DB }
#filled-disk:hover .circle { fill: #F3CF3F }
#filled-disk:hover .base { fill: #5D699B }
#filled-disk:hover .top { fill: #B2B2B2 }
#filled-disk:hover .top_right { fill: #747A90 }
#filled-disk:hover .bottom { fill: #D9D9C2 }
#filled-disk:hover .text { fill: #747A90 }
#filled-email:hover .circle { fill: #7D79BC }
#filled-email:hover .top { fill: #3DD97F }
#filled-email:hover .paper { fill: #FFFFFF }
#filled-email:hover .base { fill: #2DB466 }
#filled-email:hover .text { fill: #BBBBBB }
#filled-film:hover .circle { fill: #8DD0BE }
#filled-film:hover .base { fill: #6E6E6E }
#filled-film:hover .bottom { fill: #515151 }
#filled-film:hover .top { fill: #8C8C8C }
#filled-flag:hover .circle { fill: #8DD0BE }
#filled-flag:hover .bottom { fill: #FF5400 }
#filled-flag:hover .shadow { fill: #C03F00 }
#filled-flag:hover .top { fill: #FF5400 }
#filled-flag:hover .pole { fill: #676767 }
#filled-folder:hover .circle { fill: #82D8B5 }
#filled-folder:hover .back { fill: #9C4588 }
#filled-folder:hover .paper_back { fill: #D9D9D9 }
#filled-folder:hover .paper_front { fill: #fff }
#filled-folder:hover .front { fill: #BF67AB }
#filled-graph:hover .circle { fill: #E3A7C0 }
#filled-graph:hover .bar_left { fill: #7BC156 }
#filled-graph:hover .bar_middle { fill: #92D76C }
#filled-graph:hover .bar_right { fill: #64A242 }
#filled-graph:hover .front { fill:  }
#filled-graph:hover .dot_4,
#filled-graph:hover .dot_3,
#filled-graph:hover .dot_2,
#filled-graph:hover .dot_1 { fill: #fff }
#filled-heart:hover .circle { fill: #02BD85 }
#filled-heart:hover .base { fill: #BC4B36 }
#filled-heart:hover .left { fill: #db5940 }
#filled-home:hover .circle { fill: #02BD85 }
#filled-home:hover .base { fill: #F1F1F1 }
#filled-home:hover .hole { fill: #C3C3C3 }
#filled-home:hover .roof { fill: #D34141 }
#filled-lightning:hover .circle { fill: #423D5B }
#filled-lightning:hover .bolt { fill: #FFD928 }
#filled-lightning:hover .highlight { fill: #FFF3B9 }
#filled-location:hover .circle { fill: #4890A8 }
#filled-location:hover .base { fill: #B6351B }
#filled-location:hover .inner { fill: #7E2412 }
#filled-lock:hover .circle { fill: #02AF7E }
#filled-lock:hover .base { fill: #C9A80D }
#filled-lock:hover .baselight { fill: #D9BC36 }
#filled-lock:hover .keyhole { fill: #8A7200 }
#filled-lock:hover .bar { fill: #C6C6C6 }
#filled-magnify:hover .circle { fill: #F2D65F }
#filled-magnify:hover .base { fill: #34B9F1 }
#filled-magnify:hover .glass { fill: #8DDDFF }
#filled-message:hover .circle { fill: #AC5D9F }
#filled-message:hover .back { fill: #FFAD10 }
#filled-message:hover .front { fill: #00A3C6 }
#filled-message:hover .dots { fill: #006A81 }
#filled-mic:hover .circle { fill: #F3CF3F }
#filled-mic:hover .base { fill: #40979F }
#filled-mic:hover .stand { fill: #5F8083 }
#filled-mic:hover .bars_left { fill: #267178 }
#filled-mic:hover .bars_right rect { fill: #267178 }
#filled-paper:hover .circle { fill: #D6D6B8 }
#filled-paper:hover .base { fill: #929292 }
#filled-paper:hover .front { fill: #FFFFFF }
#filled-paper:hover .corner { fill: #D6D6D6 }
#filled-paper:hover .text { fill: #BBBBBB }
#filled-pencil:hover .circle { fill: #CDEFE1 }
#filled-pencil:hover .wood { fill: #FFC833 }
#filled-pencil:hover .base_top { fill: #456FD8 }
#filled-pencil:hover .base_bottom { fill: #3258B6 }
#filled-pencil:hover .base_middle { fill: #567FE5 }
#filled-pencil:hover .tip { fill: #567FE5 }
#filled-pencil:hover .eraser { fill: #FF72B1 }
#filled-pencil:hover .metal { fill: #C6C6C6 }
#filled-phone:hover .circle { fill: #E55D57 }
#filled-phone:hover .base { fill: #6F82A4 }
#filled-phone:hover .screen { fill: #A5B5D3 }
#filled-phone:hover .details { fill: #516078 }
#filled-picture:hover .circle { fill: #B1EB5B }
#filled-picture:hover .back { fill: #A46B49 }
#filled-picture:hover .front { fill: #CE8A61 }
#filled-picture:hover .sky { fill: #DCF5FF }
#filled-picture:hover .sun { fill: #FF7800 }
#filled-picture:hover .mountain { fill: #3B8C1E }
#filled-plane:hover .circle { fill: #E88D70 }
#filled-plane:hover .bottom { fill: #007D7E }
#filled-plane:hover .right { fill: #4ED0D1 }
#filled-plane:hover .middle { fill: #3AAAAB }
#filled-plane:hover .left { fill: #4ED0D1 }
#filled-present:hover .circle { fill: #4890A8 }
#filled-present:hover .base { fill: #F1F1F1 }
#filled-present:hover .top { fill: #C3C3C3 }
#filled-present:hover .ribbon { fill: #D34141 }
#filled-robot:hover .circle { fill: #E88D70 }
#filled-robot:hover .ears { fill: #39517A }
#filled-robot:hover .base { fill: #4C70AF }
#filled-robot:hover .highlight { fill: #6384BE }
#filled-robot:hover .antenna { fill: #A0ABBD }
#filled-robot:hover .eyes { fill: #FFFFFF }
#filled-rocket:hover .circle { fill: #4BAE97 }
#filled-rocket:hover .engine { fill: #7D7D7D }
#filled-rocket:hover .base { fill: #B0CED8 }
#filled-rocket:hover .window { fill: #8BABB6 }
#filled-rocket:hover .glass { fill: #FFFFFF }
#filled-rocket:hover .flame { fill: #FF5400 }
#filled-screen:hover .circle { fill: #F8B243 }
#filled-screen:hover .stand { fill: #516078 }
#filled-screen:hover .base { fill: #6F82A4 }
#filled-screen:hover .highlight { fill: #A5B5D3 }
#filled-screen:hover .logo { fill: #516078 }
#filled-settings:hover .circle { fill: #E3A7C0 }
#filled-settings:hover .base { fill: #8BAE5D }
#filled-settings:hover .top { fill: #698741 }
#filled-spaceship:hover .circle { fill: #02BD85 }
#filled-spaceship:hover .light { fill: #FFF3B9 }
#filled-spaceship:hover .glass { fill: #8DDDFF }
#filled-spaceship:hover .base { fill: #7E8CA6 }
#filled-spaceship:hover .circles { fill: #56627A }
#filled-storm:hover .circle { fill: #90C0D8 }
#filled-storm:hover .cloud { fill: #858585 }
#filled-storm:hover .lightning { fill: #FFAD10 }
#filled-suitcase:hover .circle { fill: #02BD85 }
#filled-suitcase:hover .top { fill: #9A4C1D }
#filled-suitcase:hover .bottom { fill: #B75B24 }
#filled-suitcase:hover .buttons { fill: #C89211 }
#filled-tag:hover .circle { fill: #D6D6B8 }
#filled-tag:hover .base { fill: #FFBA00 }
#filled-tag:hover .dot { fill: #C38E00 }
#filled-thumbsdown:hover .circle { fill: #E74C3C }
#filled-thumbsdown:hover .base { fill: #F1CDB0 }
#filled-thumbsdown:hover .sleeve { fill: #E1AF45 }
#filled-thumbsdown:hover .cuff { fill: #339FA9 }
#filled-thumbsdown:hover .dot { fill: #FFFFFF }
#filled-thumbsup:hover .circle { fill: #02BD85 }
#filled-thumbsup:hover .base { fill: #F1CDB0 }
#filled-thumbsup:hover .sleeve { fill: #854D37 }
#filled-thumbsup:hover .cuff { fill: #C24C28 }
#filled-thumbsup:hover .dot { fill: #FFFFFF }
#filled-trash:hover .circle { fill: #90C0D8 }
#filled-trash:hover .base { fill: #8C8C8C }
#filled-trash:hover .details { fill: #515151 }
#filled-trash:hover .lid { fill: #6E6E6E }
#filled-user:hover .circle { fill: #D1F274 }
#filled-user:hover .body { fill: #44B2B6 }
#filled-user:hover .collar_right { fill: #FFFFFF }
#filled-user:hover .collar_left { fill: #FFFFFF }
#filled-user:hover .head { fill: #F1CDB0 }
#filled-user:hover .hair { fill: #AB6125 }
#filled-winner:hover .circle { fill: #F8B243 }
#filled-winner:hover .ribbon { fill: #5BB3F0 }
#filled-winner:hover .base { fill: #1983CD }
#filled-winner:hover .text { fill: #FFFFFF }
/*=============================================
[ Animation Styles ]
==============================================*/
/*LEFT*/
#filled-winner:hover .text,
#filled-user:hover .hair,
#filled-trash:hover .lid,
#filled-thumbsdown:hover .base,
#filled-thumbsup:hover .base,
#filled-suitcase:hover .buttons,
#filled-spaceship:hover .light,
#filled-screen:hover .highlight,
#filled-rocket:hover .glass,
#filled-robot:hover .eyes,
#filled-robot:hover .ears,
#filled-present:hover .ribbon,
#filled-plane:hover .middle,
#filled-picture:hover .sun,
#filled-phone:hover .screen,
#filled-pencil:hover .metal,
#filled-mic:hover .bars_left,
#filled-message:hover .dots,
#filled-lock:hover .keyhole,
#filled-lightning:hover .highlight,
#filled-home:hover .hole,
#filled-heart:hover .left,
#filled-graph:hover .bar_left,
#filled-folder:hover .paper_front,
#filled-flag:hover .pole,
#filled-film:hover .bottom,
#filled-email:hover .text,
#filled-disk:hover .bottom,
#filled-disk:hover .text,
#filled-diamond:hover .middle,
#filled-coffee:hover .middle,
#filled-clock:hover .seconds,
#filled-camera:hover .strip,
#filled-calander:hover .left,
#filled-brush:hover .brush_silver,
#filled-browser:hover .screen {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left;
    -moz-animation-name: left;
    -ms-animation-name: left;
    -o-animation-name: left;
    animation-name: left;
}
/*RIGHT*/
#filled-winner:hover .base,
#filled-user:hover .body,
#filled-trash:hover .base,
#filled-thumbsdown:hover .sleeve,
#filled-thumbsup:hover .sleeve,
#filled-tag:hover .base,
#filled-storm:hover .cloud,
#filled-spaceship:hover .base,
#filled-screen:hover .base,
#filled-rocket:hover .base,
#filled-robot:hover .base,
#filled-present:hover .base,
#filled-picture:hover .mountain,
#filled-phone:hover .base,
#filled-pencil:hover .base_middle,
#filled-paper:hover .base,
#filled-mic:hover .bars_right rect,
#filled-magnify:hover .glass,
#filled-lock:hover .base,
#filled-location:hover .inner,
#filled-home:hover .base,
#filled-graph:hover .bar_middle,
#filled-folder:hover .paper_back,
#filled-flag:hover .top,
#filled-film:hover .base,
#filled-email:hover .base,
#filled-disk:hover .base,
#filled-diamond:hover .right,
#filled-coffee:hover .base,
#filled-clock:hover .base,
#filled-camera:hover .base,
#filled-calander:hover .base_top,
#filled-browser:hover .base {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: right;
    -moz-animation-name: right;
    -ms-animation-name: right;
    -o-animation-name: right;
    animation-name: right;
}
/*TOP RIGHT*/
#filled-user:hover .head,
#filled-thumbsdown:hover .cuff,
#filled-thumbsdown:hover .cuff,
#filled-suitcase:hover .top,
#filled-storm:hover .lightning,
#filled-spaceship:hover .circles,
#filled-spaceship:hover .glass,
#filled-settings:hover .top,
#filled-rocket:hover .engine,
#filled-robot:hover .highlight,
#filled-present:hover .top,
#filled-plane:hover .right,
#filled-picture:hover .sky,
#filled-phone:hover .details,
#filled-pencil:hover .eraser,
#filled-pencil:hover .base_bottom,
#filled-paper:hover .front,
#filled-mic:hover .base,
#filled-mic:hover .stand,
#filled-lock:hover .baselight,
#filled-location:hover .base,
#filled-lightning:hover .bolt,
#filled-home:hover .roof,
#filled-heart:hover .base,
#filled-graph:hover .bar_right,
#filled-graph:hover .dot_4,
#filled-flag:hover .bottom,
#filled-film:hover .top,
#filled-disk:hover .top_right,
#filled-diamond:hover .top_right,
#filled-diamond:hover .left,
#filled-coffee:hover .top,
#filled-clock:hover .face,
#filled-calander:hover .right,
#filled-brush:hover .brush_base,
#filled-browser:hover .top {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: right-top;
    -moz-animation-name: right-top;
    -ms-animation-name: right-top;
    -o-animation-name: right-top;
    animation-name: right-top;
}
/*TOP LEFT*/
#filled-winner:hover .ribbon,
#filled-trash:hover .details,
#filled-thumbsdown:hover .dot,
#filled-thumbsup:hover .dot,
#filled-tag:hover .dot,
#filled-suitcase:hover .bottom,
#filled-settings:hover .base,
#filled-screen:hover .stand,
#filled-rocket:hover .window,
#filled-robot:hover .antenna,
#filled-plane:hover .left,
#filled-picture:hover .front,
#filled-pencil:hover .base_top,
#filled-paper:hover .corner,
#filled-magnify:hover .base,
#filled-lock:hover .bar,
#filled-graph:hover .dot_3,
#filled-flag:hover .shadow,
#filled-email:hover .paper,
#filled-disk:hover .top,
#filled-diamond:hover .top_left,
#filled-diamond:hover .top_3,
#filled-clock:hover .minute,
#filled-camera:hover .flash,
#filled-calander:hover .number,
#filled-brush:hover .brush_highlight,
#filled-browser:hover .green {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
#filled-user:hover .collar_left,
#filled-screen:hover .logo,
#filled-rocket:hover .flame,
#filled-picture:hover .back,
#filled-pencil:hover .tip,
#filled-paper:hover .text,
#filled-message:hover .front,
#filled-graph:hover .dot_2,
#filled-folder:hover .front,
#filled-email:hover .top,
#filled-diamond:hover .top_2,
#filled-clock:hover .hour,
#filled-camera:hover .red,
#filled-calander:hover .base_bottom,
#filled-browser:hover .orange {
    -webkit-animation-delay: .05s;
    -moz-animation-delay: 0.05s;
    -ms-animation-delay: 0.05s;
    -o-animation-delay: 0.05s;
    animation-delay: 0.05s;
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
#filled-user:hover .collar_right,
#filled-plane:hover .bottom,
#filled-pencil:hover .wood,
#filled-message:hover .back,
#filled-graph:hover .dot_1,
#filled-folder:hover .back,
#filled-diamond:hover .top_1,
#filled-clock:hover .middle,
#filled-camera:hover .button,
#filled-camera:hover .lens,
#filled-camera:hover .lens_inner,
#filled-brush:hover .brush_tip,
#filled-browser:hover .red {
    /*animation-timing-function*/
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    /*animation-iteration-count*/
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: left-top;
    -moz-animation-name: left-top;
    -ms-animation-name: left-top;
    -o-animation-name: left-top;
    animation-name: left-top;
}
/*Keyframes*/
@-moz-keyframes left-top { 
    0% { -webki-transform: translate(-100px, -100px) scale(3,3) }
    1% { -webkit-transform: translate(-100px, -100px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@-webkit-keyframes left-top { 
    0% { -webki-transform: translate(-100px, -100px) scale(3,3) }
    1% { -webkit-transform: translate(-100px, -100px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@keyframes left-top { 
    0% { transform: translate(-100px, -100px) scale(3,3) }
    1% { transform: translate(-100px, -100px) scale(3,3) }
    100% { transform: translate(0px, 0px) scale(1,1) }
}
@-moz-keyframes right-top { 
    0% { -webki-transform: translate(100px, -200px) scale(3,3) }
    1% { -webkit-transform: translate(100px, -200px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@-webkit-keyframes right-top { 
    0% { -webki-transform: translate(100px, -200px) scale(3,3) }
    1% { -webkit-transform: translate(100px, -200px) scale(3,3) }
    100% { -webkit-transform: translate(0px ,0px) scale(1,1) }
}
@keyframes right-top { 
    0% { transform: translate(100px, -200px) scale(3,3) }
    1% { transform: translate(100px, -200px) scale(3,3) }
    100% { transform: translate(0px, 0px) scale(1,1) }
}
@-moz-keyframes right { 
    0% { -webki-transform: translate(100px, 0px) }
    1% { -webkit-transform: translate(100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@-webkit-keyframes right { 
    0% { -webki-transform: translate(100px, 0px) }
    1% { -webkit-transform: translate(100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@keyframes right { 
    0% { transform: translate(100px, 0px) }
    1% { transform: translate(100px, 0px) }
    100% { transform: translate(0px, 0px) }
}
@-moz-keyframes left { 
    0% { -webki-transform: translate(-100px, 0px) }
    1% { -webkit-transform: translate(-100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@-webkit-keyframes left { 
    0% { -webki-transform: translate(-100px, 0px) }
    1% { -webkit-transform: translate(-100px, 0px) }
    100% { -webkit-transform: translate(0px ,0px) }
}
@keyframes left { 
    0% { transform: translate(-100px, 0px) }
    1% { transform: translate(-100px, 0px) }
    100% { transform: translate(0px, 0px) }
}
/*=============================================
[ Inactive Styles ]
==============================================*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2/1), 
only screen and (min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi), 
only screen and (min-resolution: 2dppx) { 
    .long-shadow {
        background: url(http://www.pencilscoop.com/demos/animated-svg/demo/images/long_shadow@2x.png) no-repeat;
        width: 168px;
        height: 170px;
        background-size: 168px 170px;
    }
}